@import "../../../styles/styles.scss";

.Skills {
  @include section;
}

.container {
  @include container-width-padding;
  padding-right: 0px;
  padding-left: 0px;
  @include flex-column;
  align-items: center;
  cursor: default;
  @include responsive("Tablet") {
    padding: 100px 5vw 0px;
  }
  h2 {
    margin: 0;
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 12px;
  }
  p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    padding-top: 58px;
    gap: 40px;

    h3 {
      margin: 0px 0 0px;
      font-size: 24px;
      font-weight: 600;
    }
    .swiperContainer {
      //background: red;
      overflow: hidden;
      position: relative;
      width: 100%;
    }
    .swiperContainer::before,
    .swiperContainer::after {
      content: "";
      position: absolute;
      top: 0;
      z-index: 2;
      width: 40px; /* ancho de la sombra */
      height: 100%;
      pointer-events: none; /* para no bloquear clicks */
    }

    .swiperContainer::before {
      left: 0;
      background: linear-gradient(to right, $generalBackground 5%, transparent);
    }

    .swiperContainer::after {
      right: 0;
      background: linear-gradient(to left, $generalBackground 5%, transparent);
    }

    .techItem {
      width: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      img {
        width: 44px;
        height: 44px;
        margin-bottom: 12px;
      }
      h4 {
        width: fit-content;
        font-size: 18px;
        margin: 0;
        color: #ffffff;
      }
      p {
        color: $paragraphFontColor;
        font-size: 14px;
        margin: 0;
      }
    }
  }
}
