@import "../../styles/styles.scss";

body {
  margin: 0;
  font-family: var(--font-outfit), sans-serif; // Reading font
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $generalBackground;
  color: $TitleFontColor;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-inter), sans-serif; // Title font
  }

  p,
  span,
  li,
  a {
    font-family: var(--font-outfit), sans-serif;
    color: $paragraphFontColor;
  }

  /* Remove Blue Link Highlights on Mobile */
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}