@import "../../../styles/styles.scss";

.footer {
  display: flex;
  justify-content: center;
  padding: 42px 0px 46px;
  background: $buttonBackground;

  .container {
    @include flex-column;
    align-items: center;
    h2 {
      margin: 0;
      font-weight: 600;
      font-size: 34px;
      margin-bottom: 32px;
    }
    ul {
      list-style: none;
      margin: 0 0 30px;
      padding: 0;
      display: flex;
      align-items: center;
      .button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1px;
        cursor: pointer;
        /* height: 37px; */
        background: transparent;
        color: $generalFontColor;
        text-decoration: none;
        font-size: 18px;
        font-weight: 800;
        padding: 5px 10px;
        border: none;
        transition: 0.3s ease;
        .line {
          width: 0;
          height: 1px;
          background: $generalFontColor;
          transition: 0.4s;
        }
      }
      .button:hover {
        .line {
          width: 100%;
        }
        transform: scale(1.2);
      }
    }
    .linksIcon {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(1, auto);

      grid-gap: 15px;
      margin-bottom: 30px;

      .aLink {
        margin: 0;
        width: 40px;
        height: 40px;
        overflow: visible;

        img {
          cursor: pointer;
          width: 40px;
          height: 40px;
          transition: 0.4s;
        }
        img:hover {
          transform: scale(1.2);
        }
      }
    }
    span {
      color: #a8a8a8;
    }
  }

  .button {
    grid-column: 2/2;
    grid-row: 1/1;
    padding: 1px 0px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

    border: $generalFontColor 2px solid;
    border-radius: 8px;
    /* background-color: #131111; */
    background-color: $buttonBackground;
    color: $generalFontColor;

    display: flex;
    align-items: center;
    transition: 0.4s;
    padding: 0px 12px;
    gap: 8px;

    img {
      width: 30px;
      height: 30px;
    }
  }
  button:hover {
    transform: scale(1.1);
  }
}
